#important {
    font-family: 'Oswald';
    font-weight: bold;
    font-size: 4rem;
}

#container {
    margin-left: 18%;
    margin-top: 10%;
}

* {
    margin: 0;
    padding: 0;
}

span {
    font-family: 'Poppins';
    font-size: 1.6rem;

}

#intro {
    font-family: 'Poppins';
    font-size: 1.5rem;
}

.images {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0%;
    left: 55%;
}

.pic {
    border-radius: 50%;
    
}

button {
    margin-top: 4%;
    padding: 15px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 25px;
    border: 1px solid black;
}

.btn:hover {
    background-color: lightgrey;
}

nav {
    display: flex;
    width: 84%;
    margin: auto;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins';
    font-size: 1.2rem;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

.hero {
    background-color: lightblue;
    position: relative;

}

h1 {
    text-align: center;
    margin: 1.5%;
    font-family: 'Poppins';
}

h2 {
    font-family: 'Poppins';
    
}

p {
    font-family: 'Poppins';
    margin-top: 18px; 
    margin-left: 7%;
    font-size: 1.2rem;
}

.box {
    width: 40%;
    margin: 0 auto;
    background-color: aliceblue;
    border-radius: 25px;
    padding: 2%;
}

#second {
    margin-top: 2%;
}

body {
    background-color: lavender;
}

.twitter {
    height: 550px;
    margin-left: 15px;
}

figure {
    
    text-align: center;
}

.label {
    text-align: center;
    margin-bottom: 2%;
}